.button {
    border-radius: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #ffffff;

}


.button_blue {
    border: 1px solid #d0c8c8;
    color: #888585;
}

.button_blue:hover {
    background-color: #888585;
    color: #ffffff;
}

.button_container {
    width: 40px;
    float: right;
    text-align: center;
}

.field_container label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
    text-align: center;
}